* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 800px;
  width: 95%;
  margin: 2% auto;
  background-color: #eaeaea;
}

body>* {
  margin: 2rem;
}

section * {
  padding: 0.2rem;
}

#game-canvas {
  width: 100%;
  height: auto;
  max-height: 90vh;
  max-width: calc(90vh * 4 / 3);
  margin: 0;
}

canvas {
  display: block;
  width: 100% !Important;
  height: 100% !Important;
  object-fit: contain !Important;
  box-shadow: 2px 2px 10px -2px #102b38;
  border-radius: 6px;
}

/* FIXME */

/* html:fullscreen body,
html:-webkit-full-screen body,
html:-moz-full-screen body,
html:-ms-fullscreen body {
  max-width: 100%;
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-color: #0a0a0a;
}

html:fullscreen body>*,
html:-webkit-full-screen body>*,
html:-moz-full-screen body>*,
html:-ms-fullscreen body>* {
  display: none;
}

html:fullscreen #game-canvas,
html:-webkit-full-screen #game-canvas,
html:-moz-full-screen #game-canvas,
html:-ms-fullscreen #game-canvas{
  display: block;
  width: 100vw;
  height: auto;
  max-height: 100vh;
  max-width: calc(100vh * 4 / 3);
  margin: auto;
} */


#configgrid {
  display: grid;
  grid-template-rows: repeat(1fr, 4) auto;
  grid-template-columns: auto 6.2rem;
  grid-gap: 0.2rem;
}

#gamestate {
  grid-column: 1/2;
  grid-row: 1/6;
}

textarea {
  height: 90vh;
}

button, input, select {
  cursor: pointer;
}

button, textarea, input, select {
  background-color: #fffffa;
  border: 1.5px solid black;
  border-radius: 8px;
  padding: 0.5rem;
  width: 100%;
}

button:hover, input:hover, select:hover {
  background-color: #dde;
}
